{% extends "master.html" %}

{% load staticfiles %}

{% block title %}
	- Sample Page
{% endblock %}

{% block statics %}
	<script type="text/javascript" src="{% static "lib/angularjs/angular.min.js" %}"></script>
	<script type="text/javascript" src="{% static "src/js/procuraga.js" %}"></script>
	<script type="text/javascript" src="{% static "src/js/opportunities.js" %}"></script>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-6">
			<button class="btn btn-primary btn-block" style="height:300px; font-size: 30px;">Market Research Tool</button>
		</div>
		<div class="col-xs-6">
			<button class="btn btn-warning btn-block" style="height:300px; font-size: 30px;">Feedback Mechanism</button>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-6">
			<button class="btn btn-success btn-block" style="height:300px; font-size: 30px;">Feedback Mechanism</button>
		</div>
		<div class="col-xs-6">
			<button class="btn btn-danger btn-block" style="height:300px; font-size: 30px;">Feedback Mechanism</button>
		</div>
	</div>
{% endblock %}
