{% extends "master.html" %}

{% load staticfiles %}

{% block title %}
	- Sample Page
{% endblock %}

{% block statics %}
	<script type="text/javascript" src="{% static "lib/angularjs/angular.min.js" %}"></script>
	<script type="text/javascript" src="{% static "src/js/procuraga.js" %}"></script>
	<script type="text/javascript" src="{% static "src/js/opportunities.js" %}"></script>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-6">
			<form action="/research" method="get">
				<button type="submit" class="btn btn-primary btn-block" style="height:300px; font-size: 30px;">Market Research Tool</button>
			</form>
		</div>
		<div class="col-xs-6">
			<form action="#" method="get">
				<button type="submit" class="btn btn-warning btn-block" style="height:300px; font-size: 30px;">Feedback Mechanism</button>
			</form>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-6">
			<form action="#" method="get">
				<button type="submit" class="btn btn-success btn-block" style="height:300px; font-size: 30px;">Business Opportunity Guide</button>
			</form>
		</div>
		<div class="col-xs-6">
			<form action="#" method="get">
				<button type="submit" class="btn btn-danger btn-block" style="height:300px; font-size: 30px;">Track Record</button>
			</form>
		</div>
	</div>
{% endblock %}
