{% extends "master.html" %}

{% load staticfiles %}

{% block title %}
	- Sample Page
{% endblock %}

{% block statics %}
	<script type="text/javascript" src="{% static "lib/angularjs/angular.min.js" %}"></script>
	<script type="text/javascript" src="{% static "src/js/procuraga.js" %}"></script>
	<script type="text/javascript" src="{% static "src/js/research.js" %}"></script>
{% endblock %}

{% block content %}
	<div ng-controller="ResearchesCtrl as r">
		<input type="search" class="form-control" placeholder="Search" ng-model="r.search">
		<table class="table table-bordered" style="background-color: #FFF">
			<thead>
				<tr>
					<th>
						<a href="#" ng-click="r.csort = 'item_name'; r.asc = ! r.asc">
							Item Name
						</a> {[ r.csort =='item_name'? (r.asc ? '^' : 'v') : '' ]}
					</th>
					<th>
						<a href="#" ng-click="r.csort = 'count'; r.asc = ! r.asc">
							Count
						</a> {[ r.csort =='count'? (r.asc ? '^' : 'v') : '' ]}
					</th>
					<th>
						<a href="#" ng-click="r.csort = 'min'; r.asc = ! r.asc">
							Minimum
						</a> {[ r.csort =='min'? (r.asc ? '^' : 'v') : '' ]}
					</th>
					<th>
						<a href="#" ng-click="r.csort = 'max'; r.asc = ! r.asc">
							Maximum
						</a> {[ r.csort =='max'? (r.asc ? '^' : 'v') : '' ]}
					</th>
					<th>
						<a href="#" ng-click="r.csort = 'mean'; r.asc = ! r.asc">
							Mean
						</a> {[ r.csort =='mean'? (r.asc ? '^' : 'v') : '' ]}
					</th>
					<th>
						<a href="#" ng-click="r.csort = 'median'; r.asc = ! r.asc">
							Median
						</a> {[ r.csort =='median'? (r.asc ? '^' : 'v') : '' ]}
					</th>
					<th>
						<a href="#" ng-click="r.csort = 'mode'; r.asc = ! r.asc">
							Mode
						</a> {[ r.csort =='mode'? (r.asc ? '^' : 'v') : '' ]}
					</th>
				</tr>
			</thead>
			<tbody ng-repeat="item in r.items | orderBy:r.csort:r.asc | filter: r.search">
				<td> {[ item.item_name ]} </td>
				<td> {[ item.count ]} </td>
				<td> {[ item.min | currency:"₱ " ]} </td>
				<td> {[ item.max | currency:"₱ " ]} </td>
				<td> {[ item.mean | currency:"₱ " ]} </td>
				<td> {[ item.median | currency:"₱ " ]} </td>
				<td> {[ item.mode | currency:"₱ " ]} </td>
			</tbody>
		</table>
	</div>
{% endblock %}
