{% extends "master.html" %}

{% load staticfiles %}

{% block title %}
	- Market Research Tool
{% endblock %}

{% block statics %}
	<script type="text/javascript"> var __year__ = {{ year }} </script>
	<script type="text/javascript" src="{% static "lib/angularjs/angular.min.js" %}"></script>
	<script type="text/javascript" src="{% static "src/js/procuraga.js" %}"></script>
	<script type="text/javascript" src="{% static "src/js/research.js" %}"></script>
{% endblock %}

{% block content %}
	<div ng-controller="ResearchesCtrl as r"  ng-init="r.year = {{ year }}">
		<div ng-hide=" ! r.loaded || r.items.length !== 0">
			<h1> No data retrived. Filter using another year. </h1>

			<form class="form-inline" action="/research" method="get">
				<div class="form-group">
					<b> Year: </b>
					<input type="number" ng-model="r.year" min="1990" class="form-control" name="year">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary"> Filter </button>
				</div>
			</form>
		</div>
		<div ng-show="r.items.length === 0 && ! r.loaded">
			<h1> Loading... </h1>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h2 class="modal-title" id="myModalLabel"> {[ r.shownItem.item_name ]}</h2>
					</div>
					<div class="modal-body">
						<div class="table-responsive">
							<table class="table table-striped table-bordered">
								<tr>
									<th>
										<a href="#" ng-click="r.csort2 = 'bidder'; r.asc2 = ! r.asc2">
									 		Bidder
									 	</a>
										<small> {[ r.csort2 =='bidder'? (r.asc2 ? '▲' : '▼') : '' ]} </small>
									 </th>
									<th>
										<a href="#" ng-click="r.csort2 = 'item_desc'; r.asc2 = ! r.asc2">
									 		 Description
									 	</a>
										<small> {[ r.csort2 =='item_desc'? (r.asc2 ? '▲' : '▼') : '' ]} </small>
									 </th>
									<th>
										<a href="#" ng-click="r.csort2 = 'date'; r.asc2 = ! r.asc2">
									 		Publish Date
									 	</a>
										<small> {[ r.csort2 =='date'? (r.asc2 ? '▲' : '▼') : '' ]} </small>
									 </th>
									<th>
										<a href="#" ng-click="r.csort2 = 'budget'; r.asc2 = ! r.asc2">
									 		Budget
									 	</a>
										<small> {[ r.csort2 =='budget'? (r.asc2 ? '▲' : '▼') : '' ]} </small>
									 </th>
									<th>
										<a href="#" ng-click="r.csort2 = 'qty'; r.asc2 = ! r.asc2">
									 		 Quantity
									 	</a>
										<small> {[ r.csort2 =='qty'? (r.asc2 ? '▲' : '▼') : '' ]} </small>
									 </th>
									<th>
										<a href="#" ng-click="r.csort2 = 'budget_qty'; r.asc2 = ! r.asc2">
									 		 Budget/Quantity
									 	</a>
										<small> {[ r.csort2 =='budget_qty'? (r.asc2 ? '▲' : '▼') : '' ]} </small>
									 </th>
									<th>
										<a href="#" ng-click="r.csort2 = 'loc'; r.asc2 = ! r.asc2">
									 		 Location
									 	</a>
										<small> {[ r.csort2 =='loc'? (r.asc2 ? '▲' : '▼') : '' ]} </small>
									 </th>
								</tr>
								<tr ng-repeat="bidder in r.shownItem.bidders | orderBy:r.csort2:r.asc2">
									<td> {[ bidder.bidder ]} </td>
									<td> {[ bidder.item_desc ]} </td>
									<td> {[ bidder.date.split("T")[0] ]} </td>
									<td> {[ bidder.budget | currency:"₱" ]} </td>
									<td> {[ bidder.qty ]} </td>
									<td> {[ bidder.budget_qty | currency:"₱" ]} </td>
									<td> {[ bidder.loc ]} </td>
								</tr>
							</table>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="r.items.length">
			<form class="form-inline form-group" action="/research" method="get">
				<div class="form-group">
					<b> Page Size: </b> <input type="number" class="form-control" ng-model="r.pageSize" min="10">
				</div>
				<div class="form-group" style="padding-left: 20px">
					<b> Page Number: </b>
					<button class="btn btn-info" ng-click="r.currentPage = r.currentPage-1" ng-disabled="r.currentPage == 1">&larr;</button>
					{[ r.currentPage ]} / {[ r.ceil((r.items | filter: r.search).length / r.pageSize) ]}
					<button class="btn btn-info" ng-click="r.currentPage = r.currentPage+1" ng-disabled="r.currentPage == r.ceil((r.items | filter: r.search).length / r.pageSize)">&rarr;</button>
				</div>
				<div class="form-group" style="padding-left: 20px">
					<b> Year: </b>
					<input type="number" ng-model="r.year" min="1990" class="form-control" name="year">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary"> Filter </button>
				</div>
			</form>
			<form class="form-group">
				<input type="search" class="form-control" placeholder="Search" ng-model="r.search">
			</form>
			<di` class="table-responsive">
				<table class="table table-bordered" style="background-color: #FFF">
					<thead>
						<tr>
							<th>
								<a href="#" ng-click="r.csort = 'item_name'; r.asc = ! r.asc">
									Item Name
								</a>
								<small> {[ r.csort =='item_name'? (r.asc ? '▲' : '▼') : '' ]} </small>
							</th>
							<th>
								<a href="#" ng-click="r.csort = 'count'; r.asc = ! r.asc">
									Awards Count
								</a>
								<small> {[ r.csort =='count'? (r.asc ? '▲' : '▼') : '' ]} </small>
							</th>
							<th>
								<a href="#" ng-click="r.csort = 'qty'; r.asc = ! r.asc">
									Quantity
								</a>
								<small> {[ r.csort =='qty'? (r.asc ? '▲' : '▼') : '' ]} </small>
							</th>
							<th>
								<a href="#" ng-click="r.csort = 'min'; r.asc = ! r.asc">
									Minimum
								</a>
								<small> {[ r.csort =='min'? (r.asc ? '▲' : '▼') : '' ]} </small>
							</th>
							<th>
								<a href="#" ng-click="r.csort = 'max'; r.asc = ! r.asc">
									Maximum
								</a>
								<small> {[ r.csort =='max'? (r.asc ? '▲' : '▼') : '' ]} </small>
							</th>
							<th>
								<a href="#" ng-click="r.csort = 'mean'; r.asc = ! r.asc">
									Mean
								</a>
								<small> {[ r.csort =='mean'? (r.asc ? '▲' : '▼') : '' ]} </small>
							</th>
							<th>
								<a href="#" ng-click="r.csort = 'median'; r.asc = ! r.asc">
									Median
								</a>
								<small> {[ r.csort =='median'? (r.asc ? '▲' : '▼') : '' ]} </small>
							</th>
							<th>
								<a href="#" ng-click="r.csort = 'mode'; r.asc = ! r.asc">
									Mode
								</a>
								<small> {[ r.csort =='mode'? (r.asc ? '▲' : '▼') : '' ]} </small>
							</th>
							<th> Actions </th>
						</tr>
					</thead>
					<tbody ng-repeat="item in r.items | orderBy:r.csort:r.asc | filter: r.search | startFrom: (r.currentPage-1) * r.pageSize | limitTo: r.pageSize">
						<td> {[ item.item_name ]} </td>
						<td> {[ item.count ]} </td>
						<td> {[ item.qty ]} </td>
						<td> {[ item.min | currency:"₱" ]} </td>
						<td> {[ item.max | currency:"₱" ]} </td>
						<td> {[ item.mean | currency:"₱" ]} </td>
						<td> {[ item.median | currency:"₱" ]} </td>
						<td> {[ item.mode | currency:"₱" ]} </td>
						<td>
							<!-- Button trigger modal -->
							<center>
								<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal" ng-click="r.shownItem=item">
									View Awarded Bids
								</button>
							</center>
						</td>
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
